@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

.ant-layout {
   min-height: 100vh;
}

.logo {
   height: 64px;
   margin: 0;
   background-color: #fffd33;
}
.ant-layout-sider {
   flex: 0 0 256px !important;
   max-width: 256px !important;
   min-width: 256px !important;
   width: 256px !important;
}
.ant-layout-sider-collapsed {
   flex: 0 0 80px !important;
   max-width: 80px !important;
   min-width: 80px !important;
   width: 80px !important;
}
main {
   background-color: transparent !important;
   overflow-y: scroll !important;
   height: 85vh !important;
}
main::-webkit-scrollbar {
   width: 0px !important;
}
.table-row-light {
   background-color: #f9f9f9;
}

.table-row-dark {
   background-color: #e8e8e8;
}
