@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

:root {
   --color-212529: '#212529';
   --color-fffd33: '#fffd33';
}

.ant-layout {
   min-height: 100vh;
}

.logo {
   height: 64px;
   margin: 0;
   background-color: #fffd33;
}
.ant-layout-sider {
   flex: 0 0 256px !important;
   max-width: 256px !important;
   min-width: 256px !important;
   width: 256px !important;
}
.ant-layout-sider-collapsed {
   flex: 0 0 80px !important;
   max-width: 80px !important;
   min-width: 80px !important;
   width: 80px !important;
}
.ant-menu-item {
   margin-top: 18px !important;
   margin-bottom: 18px !important;
}
.ant-select-selector {
   border-radius: 5px !important;
   padding: 0.8rem 0.8rem !important;
}
.brandProduct .ant-select-selector {
   border-radius: 5px !important;
   padding: 25px 25px 25px 25px !important;
}
.brandProduct .ant-select-selection-item {
   font-size: 18px !important;
}
.brandProduct .ant-select-arrow {
   padding-top: 18px !important;
}
.ant-select-selection-overflow-item {
   font-size: 18px !important;
}
.ant-select-selection-placeholder {
   font-size: 18px !important;
   padding-left: 1rem;
   color: black !important;
}

.ant-select-item-option {
   font-size: 18px !important;
}
.ant-select-arrow {
   color: black !important;
   font-size: 15px !important;
}

main {
   background-color: transparent !important;
   overflow-y: scroll !important;
   height: 85vh !important;
}
main::-webkit-scrollbar {
   width: 0px !important;
}
.table-row-light {
   background-color: #f9f9f9;
}

.table-row-dark {
   background-color: #e8e8e8;
}
.quill {
   background-color: #fff;
}

.ql-tooltip {
   z-index: 9999 !important;
   left: 0 !important;
}

.ql-container {
   font-size: 18px !important;
   height: 250px !important;
   width: 100% !important;
   font-family: 'Times New Roman', Times, serif !important;
}
.ql-toolbar.ql-snow {
   background-color: #fff;
   border-bottom: 1px solid #ccc;
}
.ant-upload {
   width: 100% !important;
}
.ant-upload-list {
   display: flex !important;
   flex-direction: row !important;
   flex-wrap: wrap !important;
   justify-content: flex-start !important;
}
.ant-upload-list-item-container {
   width: 200px !important;
   height: 161px !important;
}
.ant-upload-list-item {
   border: 1px solid #ccc !important;
}
ant-select-selector {
   cursor: pointer !important;
}
.ql-editor.ql-blank::before {
   color: #000 !important;
}
