node_modules/
.env
Admin-App/Admin/package-lock.json
Admin-App/Admin/README.md
Admin-App/Admin/public/vite.svg
.idea/E-commerce.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/.gitignore
package-lock.json
package-lock.json
Admin-App/Admin/package.json
frontend/E-Commerce/package-lock.json
package-lock.json
